[hotkeys]
# Глобальный хоткей для захвата скриншота (по умолчанию Alt+Shift+W)
hotkey = "alt+shift+w"

[vk]
# Включить отправку в ВК (yes/no)
on = "yes"
# Токен сообщества ВК, которому вы разрешили на странице сообщества отправлять вам сообщения
token = "vk1.a.XXXXXXXXXXXXXXXXXXXXXXXX"
# ID получателя (пользователя ВК)
peer_id = "123456789"

[max]
# Включить отправку в мессенджер МАХ (yes/no)
on = "yes"
# Токен бота мессенджера МАХ
token = "XXXXXXXXXXXXXXXXXXXXXXXX"
# ID получателя (пользователя МАХ)
peer_id = "123456789"
